/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

/* Variables */

:root {
  --header-height: 3rem;
  --nav-width: 324px;

  /* Margin */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;

  /* Z Index */
  --z-fixed: 100;

  /* Font  */
  --font-regular: 200;
  --font-semi-bold: 400;
  --font-bold: 700;

  /* Colors */
  --color-primary: #16a085;
  --color-secondary: #27ae60;
  --color-icon-close: #000000;
  --color-links: #ffffff;
  --color-background: #2c3e50;
  --color-text: #ffffff;
  --color-button: #16a085;

  /* Typography */
  --body-font: "Nunito", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/* Base */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.6;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h3 {
  font-weight: var(--font-semi-bold);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* CSS CLASS */
.section {
  padding: 4rem 0 2rem;
}
.section-title {
  font-size: var(--h1-font-size);
  color: var(--color-secondary);
  margin-bottom: var (--mb-3);
  text-align: center;
}
.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--color-secondary);
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: 0.25rem;
}

/* Layout */
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--color-secondary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navigation */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--color-secondary);
  transition: 0.5s;
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--color-icon-close);
  cursor: pointer;
}
.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__link {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--color-links);
  font-weight: var(--font-bold);
  transition: 0.3s;
}
.nav__link:hover {
  color: var(--color-icon-close);
}
.nav__toggle {
  color: var(--color-background);
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show Menu Mobile */
.show {
  left: 0;
}

/* Menu Active */
.active {
  color: var(--color-text);
}

/* Home */
.home__container {
  height: calc(100vh - var(--header-height));
  align-items: center;
}
.home__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
}
.home__img {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: var(--mb-2);
}
.home__img img {
  width: 155px;
}
.home__title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}
.home__profession {
  font-size: var(--font-regular);
  color: var(--color-text);
  margin-bottom: var(--mb-5);
}
.home__social {
  margin-bottom: 5rem;
}
.home__social-link {
  display: inline-flex;
  border-color: var(--color-secondary);
  color: var(--color-links);
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.4rem;
  margin: 0 var(--mb-1);
  transition: 0.3s;
}
.home__social-link:hover {
  background-color: var(--color-secondary);
}

.home__button {
  width: 100%;
}

/* Buttons */
.button {
  display: inline-block;
  background-color: var (var(--color-primary));
  text-align: center;
  color: var(--color-links);
  padding: 1rem 2rem;
  font-weight: var(--font-bold);
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--color-button);
}

/* About */
.about__container {
  row-gap: 2rem;
}
.about__data {
  text-align: center;
}
.about__description {
  margin-bottom: var(--mb-4);
}
.about__img {
  width: 150px;
  border-radius: 0.5rem;
  margin: 0 auto;
}
.about__information {
  margin-bottom: var(--mb-4);
}
.about__information-title {
  font-size: var(--h3-font-size);
  color: var(--color-secondary);
  margin-bottom: var(--mb-2);
}
.about__information-data {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: var(--mb-3);
}
.about__information-icon {
  font-size: 1.5rem;
  color: var(--color-primary);
  margin-right: var(--mb-4);
}
.about__information-subtitle {
  display: block;
  font-weight: var(--small-font-size);
  margin-left: var(--mb-2);
}

/* Skills */
.skills__container {
  row-gap: 2rem;
}
.skills__subtitle {
  font-size: var(--h3-font-size);
  color: var(--color-primary);
  margin-bottom: var(--mb-2);
}
.skills__data {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 var (var(--mb-2));
  margin-bottom: var(--mb-4);
}
.skills__name {
  text-transform: uppercase;
}
.skills__bar {
  position: absolute;
  bottom: -0.75rem;
  height: 0.25rem;
  background-color: var(--color-secondary);
}

.skills__html {
  width: 85%;
  animation-timing-function: ease-in-out;
  transition: 0.25s;
  transition-duration: 1s;
}
.skills__js {
  width: 80%;
}
.skills__react {
  width: 65%;
}
.skills__vue {
  width: 55%;
}
.skills__wp {
  width: 90%;
}
.skills__php {
  width: 60%;
}
.skills__node {
  width: 65%;
}
.skills__mysql {
  width: 80%;
}

/* Education */
.education__container {
  row-gap: 2rem;
}
.education__content {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}
.education__year,
.education__race {
  font-size: var(--h3-font-size);
  margin-bottom: 0.25rem;
}
.education__university {
  display: block;
  font-size: var(--small-font-size);
}
.education__year,
.education__university {
  text-align: right;
}
.education__time {
  padding: 0 1rem;
  justify-self: center;
}

.education__rounder {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--color-secondary);
  border-radius: 50%;
}
.education__rounder::before {
  content: "";
  position: absolute;
  transform: translate(-4px, -4px);
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
}
.education__line {
  display: block;
  height: 90%;
  width: 2px;
  background-color: var(--color-primary);
  transform: translate(5px, -4px);
}

/* Projects */
.project {
  background-color: var(--color-secondary);
  padding-bottom: 0;
  margin-top: 5rem;
}
.project__container {
  row-gap: 2rem;
}
.project__data {
  text-align: center;
}

.project__title,
.project__description {
  color: var(--color-text);
}
.project__descriptiption {
  margin-bottom: var(--mb-4);
}
.project__img {
  width: 120px;
  height: 120px;
  margin-bottom: 2rem;
  justify-self: center;
  border: 1px solid var(--color-primary);
  border-radius: 100%;
}

/* Works */
.works__container {
  justify-content: center;
  row-gap: 2rem;
}
.works__img {
  position: relative;
  overflow: hidden;
  border: 0.5rem;
}
.works__data {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(60, 136, 85, 0.7);
  border-radius: 0.5rem;
  transition: 0.3s;
}
.works__link {
  display: inline-flex;
  font-size: 1.5rem;
  background-color: var(--color-secondary);
  color: var(--first-color);
  padding: 0.25rem;
  margin-bottom: var(--mb-2);
}
.works__title {
  font-size: var(--h2-font-size);
  color: var(--color-links);
}
.works__img:hover .works__data {
  bottom: 0;
}

/* Contact */
.contact__container {
  row-gap: 3rem;
}
.contact__input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: var(--color-links);
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-2);
}

.contact ::placeholder {
  color: var(--color-icon-close);
  font-family: var(--body-font);
  font-weight: var(--font-bold);
}
.contact__button {
  outline: none;
  border: none;
  font-family: var(--body-font);
  font-size: var(--font-semi-bold);
  cursor: pointer;
}
.contact__info {
  margin-bottom: var(--mb-3);
}
.contact__subtitle {
  font-size: var(--h3-font-size);
  color: var(--color-secondary);
  margin-bottom: var(--mb-1);
}
.contact__text {
  display: block;
  padding-left: 1rem;
}
